instance: aflciodemo

default_field_map: &default_field_map
  id:
    column: id
    ab_type: Custom ID
  people: &default_people_map
      first_name: First Name
      last_name: Last Name
      email1: Email
      email_type: Home # Home / Work
      cell: Phone Number
      phone_type: Work # Home / Mobile / Work
      address: Street Address
      city: City
      state: State
      zip: Zip/Postal Code
  info: &default_info_map
    local:
      type: Field
      name: 'Local #'
      section: Union Information
    sector:
      type: Field
      name: Sector
    notes:
      type: notes
      name: Notes Category
      note_col: notes_note
    worksite:
      type: address
      name: Worksite
      street_col: worksite_street
      city_col: worksite_city
      state_col: worksite_state
      zip_col: worksite_zip

upload-test:
  campaign_name: Upload Test
  fields:
    <<: *default_field_map

campaign-foo:
  campaign_name: Foo Campaign
  fields:
    id:
      column: id
      ab_type: Custom ID
    people:
      <<: *default_people_map
    people2:
      first_name: First Name
      phone2: Phone Number
      phone_type2: Phone Number Type
    info:
      <<: *default_info_map
      foo:
        type: Field
        name: Foo
