autopep8==1.5.3
blinker==1.4
boto3==1.14.24
botocore==1.17.24
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
cryptography==36.0.1
docutils==0.15.2
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
jmespath==0.10.0
kaitaistruct==0.9
parsons==0.17.2
petl==1.6.8
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.14.0
PyYAML==5.4.1
s3transfer==0.3.3
selenium==3.141.0
selenium-wire==4.5.6
six==1.15.0
toml==0.10.1
urllib3==1.25.9
wsproto==1.0.0
zstandard==0.16.0
